<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}										
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
	"startDuration": 2,
    "dataProvider": [{
        "country": "Room 1",
        "visits": 4025,
        "color": "#FF0F00"
    }, {
        "country": "Room 2",
        "visits": 1882,
        "color": "#FF6600"
    }, {
        "country": "Room 3",
        "visits": 1809,
        "color": "#FF9E01"
    }, {
        "country": "Room 4",
        "visits": 1322,
        "color": "#FCD202"
    }, {
        "country": "Room 5",
        "visits": 1122,
        "color": "#F8FF01"
    }, {
        "country": "Room 6",
        "visits": 1114,
        "color": "#B0DE09"
    }, {
        "country": "Room 7",
        "visits": 984,
        "color": "#04D215"
    }, {
        "country": "Room 8",
        "visits": 711,
        "color": "#0D8ECF"
    }, {
        "country": "Room 9",
        "visits": 665,
        "color": "#0D52D1"
    }, {
        "country": "Room 10",
        "visits": 580,
        "color": "#2A0CD0"
    }],
    "valueAxes": [{
        "position": "left",
        "title": "Time Spent"
    }],
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "visits"
    }],
    "depth3D": 20,
	"angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "country",
    "categoryAxis": {
        "gridPosition": "start",
        "labelRotation": 90
    },
    "export": {
    	"enabled": true
     }

});
</script>

<!-- HTML -->
<div id="chartdiv"></div>